.input {
    display: inline-flex;
    flex: 1px;
    padding: 4px;
    border: 1px solid #eaeaea;
    margin-right: 4;
  }
  
  .button {
    border-color: #eaeaea;
    background-color: #fff;
    margin-left: 15px;
  }