.navigationContainer {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 10px;


}

.navigationTab {
    display: flex;   
    cursor: pointer;
    border: grey solid 0.1px;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.navigationTab:focus {
    background-color: #FFA000;
}

h2 {
    margin: 10px;
}