.navigationContainer {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-evenly;
    margin-bottom: 30px;

}

.navigationTab {
    display: flex;   

}

p {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 10px;

}