.todoContainer {
    padding: 4px;
    border-bottom: 1px solid #ccc;
    display: flex;
  }

  .todoTitle {
      flex: 1;
  }

  .statusSelector {
      margin: 5px;
      border-radius: 3px;    
        box-shadow: 1px 1px 4px#9f9b9b;
        height: 21px;
        padding: 0px;
        
  }

  .dateAndTimePicker {
      margin: 5px;
      border-radius: 5px;    
      box-shadow: 1px 1px 4px#9f9b9b;
  }

  .deleteTodoButtonContainer {
      margin: 5px;
  }

  h4 {
      margin: 5px;
      font-size: 14px;
  }